.about-page {
  text-align: center;
  width: 100vw;
  min-height: calc(100vh - 10vh);
  background-color: inherit;
  display: flex;
  justify-self: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  font-family: "RocaTwo", sans-serif;
  color: #fdece2;
  font-size: 18px;
  line-height: 28px;
  width: 60%;
  margin: 12px 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .text-container {
    margin: 48px 0;
  }
  .about-text {
    font-size: 16px;
    width: 70%;
  }
}
