.landing-content {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 156px 0;
  background-color: inherit;
}

.tagline-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-well {
  width: 300px;
}

.tagline {
  color: #fdece2;
  font-family: "RocaTwo", sans-serif;
  height: 96px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.center-illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #fdece2;
  position: absolute;
  top: 50%;
  left: 75%;
}

.modal.abura {
  left: 10%;
}

.ghana-img {
  position: relative;
  top: 6px;
  padding: 0 6px;
}
.modal-contents {
  width: 300px;
}

.modal h1 {
  font-family: "RocaTwo", sans-serif;
}

.modal h2,
.modal p {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
}

.modal h1,
.modal h2,
.modal p {
  margin: 0px 0;
}

/* .modal {
  min-height: 100%;
  width: 100vw;
  background-color: rgba(61, 36, 36, 0.99);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #fdece2;
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .landing-well {
    width: 250px;
  }

  .landing-content p {
    width: 350px;
    text-align: center;
    margin: 10px 0;
  }

  .modal.abura {
    display: none;
  }

  .modal {
    display: none;
  }
}
