.footer {
  width: 100vw;
  min-height: 15vh;
  margin: 0;
  padding: 12px 0 0 0;
  background-color: inherit;
  color: #fdece2;

  display: flex;
  justify-content: space-between;
  border-top: solid 1px #fdece2;
}

.signup-section {
  margin: 0 0 0 36px;
}

.signup-section h1,
.signup-section p {
  margin: 0;
  font-family: "Heebo", sans-serif;
}

.signupBtn {
  width: 122px;
  height: 42px;
  border: solid 1.5px #f5f5f5;
  border-radius: 6px;
  background: none;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  color: #fdece2;
  margin: 16px 0;
}

.signupBtn:hover {
  border: solid 1.5px #f15a4f;
  cursor: pointer;
}

.address-section {
  margin: 0 42px 0 0;
  /* width: 206px; */
}

.address-section h2 {
  font-family: "RocaTwo", sans-serif;
  font-size: 16px;
}

.address-section p {
  font-family: "Heebo", sans-serif;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer {
    flex-direction: column;
    padding: 100px 0 0 0;
  }

  .signup-section {
    margin: 0 0 42px 22px;
  }

  .address-section {
    margin: 0 22px 22px 0;
    text-align: end;
  }
}
