@font-face {
  font-family: "RocaTwo";
  src: local("FontsFree-Net-Roca-Two-Bold"),
    url("./Fonts/FontsFree-Net-Roca-Two-Bold.ttf");
}

html {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #3d2424;
}
