@font-face {
  font-family: "RocaTwo";
  src: local("FontsFree-Net-Roca-Two-Bold"),
    url("./Fonts/FontsFree-Net-Roca-Two-Bold.ttf");
}

html {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #3d2424;
}

.landing-content {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 156px 0;
  background-color: inherit;
}

.tagline-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-well {
  width: 300px;
}

.tagline {
  color: #fdece2;
  font-family: "RocaTwo", sans-serif;
  height: 96px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .landing-well {
    width: 250px;
  }

  .landing-content p {
    width: 350px;
    text-align: center;
    margin: 10px 0;
  }
}
