.nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-base,
.logo-U {
  fill: #f15a4f;
}

.logo-base {
  overflow: hidden;
  height: 50px;
}

.logo-U {
  position: relative;
  height: 39.5px;
  right: 123px;
  top: 54px;
}

.logo {
  height: 50px;
  overflow: hidden;
  margin: 0 0 0 16px;
}

.logo:hover {
  cursor: pointer;
}

.subheader {
  font-family: "RocaTwo", sans-serif;
  color: #fdece2;
  margin: 0 8px 0 auto;
  position: relative;
  bottom: 5px;
}

.socials {
  margin: 0 4px;
}

.socials-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.social-icon {
  fill: #fdece2;
  font-size: 24px;
}

.social-icon:hover {
  fill: #f15a4f;
  cursor: pointer;
}

.burger-menu {
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}

/* .burger-bar {
  width: 3.5em;
  height: 0.3em;

  border-radius: 0.5em;
} */

.menu {
  width: 200px;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.burger-menu {
  margin: 0 26px 0 0;
}

/* --- sliding menu --- */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* --- animations --- */
/* .burger-bar.clicked:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(0.75em, 1.25em);
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.05);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  -webkit-transform: rotate(135deg) translate(-0.5em, 1em);
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.5s;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
} */

.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 50%;
  padding: 16px 22px 16px 16px;
  align-items: end;
  justify-content: space-evenly;
}

.menu-list li {
  padding: 8px 0;
  color: #fdece2;
  font-family: "RocaTwo", sans-serif;
  font-size: 20px;
}
.menu-list li:hover {
  color: #f15a4f;
  cursor: pointer;
  transition: ease 0.2s;
}

.menu-list .socials {
  display: none;
}

.menu-link {
  color: #fdece2;
  text-decoration: none;
}

.menu-link:hover {
  color: #f15a4f;
  scale: 1.1;
}
.socials-list li {
  display: flex;
  justify-content: center;

  padding: 0 8px;
}

#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;

  margin: 0 26px 0 0;
  z-index: 1;
  scale: 0.6;
  bottom: 1px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fdece2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-icon3.closed span:nth-child(1) {
  top: 0;

  left: 0;
}

#nav-icon3.closed span:nth-child(2) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav-icon3.closed span:nth-child(3) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* .modal {
  min-height: 100vh;
  width: 100vw;
  background-color: #f15a4f;
  position: relative;
  top: 0;
  left: 0;
} */

.show {
  display: inherit;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .subheader {
    display: none;
  }

  #nav-header-socials {
    display: none;
  }

  .logo {
    height: 35px;
  }

  .logo-base {
    height: inherit;
  }

  .logo-U {
    height: 27px;
    right: 86px;
    top: 58px;
  }

  #nav-icon3 {
    scale: 0.8;
    margin: 0 18px 0 0;
  }

  .menu {
    width: 100%;
    height: 25vh;
    background-color: #3d2424;
    position: absolute;
    top: 75px;
    right: 0;
    /* border-left: solid 1px white; */
    z-index: 0;
    display: flex;
    align-items: center;
    padding: 16px 0;
  }

  .menu-list {
    align-items: center;
    padding: 8px 16px;
    height: 100%;
  }

  .menu-list li {
    padding: 12px 0;
  }

  .menu-list .socials {
    display: inherit;
  }

  .socials-list li {
    padding: 0 8px;
  }

  /* .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.4em, 0.9em);
  } */
}
